# Documentation: https://docs.brew.sh/Formula-Cookbook
#                https://rubydoc.brew.sh/Formula
class Mapvas < Formula
  desc "mapvas - a hackable map viewer"
  homepage "https://github.com/udho/homebrew-mapvas"
  url "https://github.com/udho/mapvas/releases/download/VERSION/mapvas-macos.zip"
  sha256 "SHA"
  version "VERSION"

  def install
    bin.install "mapvas"
    bin.install "mapcat"
  end
end
